@charset "UTF-8";

:root{
    --azul-principal: #006FCD;
    --azul-escuro: #17457B;
    --azul-claro: #72DDF7;
    --branco: #F3FDFF;
    --cinza: #332E3C;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #e1f9ff;
}

header{
    background: linear-gradient(135deg, var(--azul-escuro), var(--azul-principal), var(--azul-claro));
    color: var(--branco);
    text-align: center;
    padding: 40px 0px 15px 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.293);
}

.logo{
    font-weight: 800;
    font-size: 2.1em;
    text-transform: uppercase;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.295);
    letter-spacing: -1px;
    padding-bottom: 10px;
}

header p{
    letter-spacing: -1.2px;
    text-shadow: 0px 1.7px rgba(0, 0, 0, 0.295);
}

.menu{
    padding-top: 20px;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li{
    padding-right: 20px;
}

.menu a{
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
}

.menu a:hover{
    text-decoration: underline;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 0px 0px 16px 16px;
}

main h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--azul-escuro);
    padding-bottom: 10px;
}

main h2{
    color: var(--azul-escuro);
    background: linear-gradient(135deg, var(--azul-principal), var(--azul-claro), transparent);
    padding: 3px;
    margin: 10px 0px 15px 0px;
}

main p{
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
}

main strong{
    color: var(--azul-principal);
}

main ul{
    padding: 20px;
}

main li{
    padding: 7px;
}

main li::marker{
    color: var(--azul-principal);
}

img{
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 40px auto;
}

.jogos{
    color: var(--azul-principal);
    font-weight: 800;
}

main h3{
    color: var(--cinza);
    padding: 20px;
    font-size: 2em;
    letter-spacing: -1px;
}

.video{
    background-color: white;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;

    position: relative;
}

.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 10px;
    text-align: center;
}

footer p{
    padding: 3px;
}

footer a{
    color: var(--branco);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}